test/fixtures/basic_note_type_with_import.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://example.org/notes" xmlns:at="http://example.org/attachments">
  <xs:import schemaLocation="attachment_type_for_import.xsd" namespace="http://example.org/attachments"/>
  <xs:complexType name="noteType">
    <xs:sequence>
      <xs:element name="to" type="xs:string"/>
      <xs:element name="from" type="xs:string"/>
      <xs:element name="heading" type="xs:string"/>
      <xs:element name="body" type="xs:string"/>
      <xs:element name="attachments" type="at:attachmentType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
