test/fixtures/basic_note_type_with_invalid_xsd_namespace.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://example.org/XMLSchema">
  <xs:complexType name="noteType">
    <xs:sequence>
      <xs:element name="to" type="xs:string"/>
      <xs:element name="from" type="xs:string"/>
      <xs:element name="heading" type="xs:string"/>
      <xs:element name="body" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
