test/fixtures/basic_order_type_with_referenced_address_type_enum.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="addressType">
    <xs:restriction base="xs:token">
      <xs:enumeration value="ship"/>
      <xs:enumeration value="bill"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="orderType">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="street" type="xs:string"/>
      <xs:element name="type" type="addressType"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
