test/fixtures/example_14.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="noteType">
    <xs:sequence>
      <xs:element name="to" type="emailAddressType"/>
      <xs:element name="from" type="emailAddressType"/>
      <xs:element name="heading" type="xs:string"/>
      <xs:element name="body" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="emailAddressType">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
</xs:schema>
