test/fixtures/example_12.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="noteType">
    <xs:sequence>
      <xs:element name="to" type="xs:string" maxOccurs="unbounded"/>
      <xs:element name="from" type="xs:string" default="noreply@example.org"/>
      <xs:element name="date" type="xs:dateTime" default="2015-10-27T13:05:01+01:00"/>
      <xs:element name="heading" type="xs:string" minOccurs="1"/>
      <xs:element name="body" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
