test/fixtures/example_2.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="note" type="noteType"/>

  <xs:complexType name="noteType">
    <xs:sequence>
      <xs:element name="to" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
      <xs:element name="from" type="xs:string"/>
      <xs:element name="heading" type="xs:string" minOccurs="0"/>
      <xs:element name="body" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
