test/fixtures/example_6.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="credentialsType">
    <xs:all>
      <xs:element name="userName" type="xs:string" minOccurs="1"/>
      <xs:element name="password" type="xs:string"/>
    </xs:all>
  </xs:complexType>
</xs:schema>
