test/fixtures/simple_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="MyWsdl"
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:ns="http://example.org/schema"
        targetNamespace="http://example.org/schema"
        xmlns="http://example.org/schema">
  <wsdl:types>
    <xs:schema targetNamespace="http://example.org/schema" xmlns:ns="http://example.org/schema">
      <xs:complexType name="OperationInputType">
        <xs:sequence>
          <xs:element name="name" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="OperationOutputType">
        <xs:sequence>
          <xs:element name="name" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Header">
        <xs:sequence>
          <xs:element name="name" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>

      <xs:element name="HeaderElement" type="ns:Header"/>
    </xs:schema>
  </wsdl:types>

  <wsdl:message name="HeaderMsg">
    <wsdl:part name="HeaderPart" element="ns:HeaderElement"/>
  </wsdl:message>

  <wsdl:message name="OperationInputMsg">
    <wsdl:part name="OperationInputPart" type="ns:OperationInputType"/>
  </wsdl:message>
  <wsdl:message name="OperationOutputMsg">
    <wsdl:part name="OperationOutputPart" type="ns:OperationOutputType"/>
  </wsdl:message>

  <wsdl:portType name="MyPortType">
    <wsdl:operation name="SomeOperation">
      <wsdl:input message="ns:OperationInputMsg"/>
      <wsdl:output message="ns:OperationOutputMsg"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="MyBinding" type="ns:MyPortType">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="SomeOperation">
      <wsdlsoap:operation soapAction="MySoapAction"/>
      <wsdl:input>
        <wsdlsoap:header use="literal" message="ns:HeaderMsg" part="HeaderPart"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:header use="literal" message="ns:HeaderMsg" part="HeaderPart"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:binding name="MyBindingRPC" type="ns:MyPortType">
    <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="SomeOperation">
      <wsdlsoap:operation soapAction="MySoapAction"/>
      <wsdl:input>
        <wsdlsoap:header use="encoded" message="ns:HeaderMsg" part="HeaderPart"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:header use="literal" message="ns:HeaderMsg" part="HeaderPart"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="MyService">
    <wsdl:port binding="ns:MyBinding" name="MyPort">
      <wsdlsoap:address location="http://example.org/api"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
